body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#2a9d8f, #264653);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #264653;
    margin-bottom: 10px;
}

#bday-age {
    background: #264653;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #264653;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://giphy.com/clips/theoffice-the-office-peacock-tv-show-bq1PRO9CLPHmURBvv2");
}

#gift-img-hot:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExaGJ6cHBrdW5kcW9ldjhya255czFidTlvcGlydDFraWhwZHByZmE1NyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/ckB5razpgN2rd4qTfe/giphy.gif");
}

#gift-img-genius:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExajEwc24xeWNwanA1ajAwYjg4NzV4bDNvbG1nZ3Joa2VsZnB5Zms1eiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/3o85xr9ZKY1wbbJXDW/giphy.gif");
}

#gift-img-badass:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExdWFmMTduaXUydWx2ejZlYnk3MDZ6YzZwcG80cnhnMTM4NmhpcXN5eSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/7qZ3ZX1Gu3TZm/giphy.gif");
}

#gift-img-cheers:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMngxNWl0a3ExbHZnZTM4bnphZDF2anQ2OHB2aWVrcTE4c3FsMzQxbyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/10bHcDcPM925ry/giphy.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

